----------------- Structure -------------------------

body{
    margin: 10px;

}

.global-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 9px;
    border-radius: 5px;
    background-image: url("src/images/background.jpg");
    background-repeat: no-repeat;
    } 

.global-container::before {
    opacity:0.1;
}

.about {
    grid-area:   1 / 2 / 2 / 5;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
}

.experience {
    grid-area:   2 / 2 / 3 / 5;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
}

.portfolio {
    grid-area:  3 / 2 / 4 / 5; 
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
}

.contact {
    grid-area:  4 / 2 / 5 / 5; 
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 9px;
}


/* ----------------- NAV BAR ----------------*/
.navbar{
    background: rgb(253, 247, 255);
}


.navbar .container-fluid img{
height: 30px;
border-radius: 20px ;
}


/* ----------------------------ABOUT ------------------------ */

/* ----------------------- EXPERIENCE ---------------------------- */

/* .card img{
    border-radius: 10px;
} */



/* ------------------------ CONTACT ------------------------------- */



/* ------------------------ FOOTER -------------------------------- */

footer{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background: rgb(253, 247, 255);
}


